.stripes {
    float: left;
 
    margin: 10px;
 
    -webkit-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px; /* Controls the size of the stripes */
}
.picnic {
    background-color: gold;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.9, transparent), color-stop(.9, rgba(255, 160, 0, .5)), to(rgba(255, 160, 0, .5))),
    -webkit-gradient(linear, 0 0, 100% 0, color-stop(.9, transparent), color-stop(.9, rgba(255, 160, 0, .5)), to(rgba(255, 160, 0, .5)));
    background-image: -moz-linear-gradient(transparent 90%, rgba(255, 160, 0, .5) 90%, rgba(255, 160, 0, .5)),
    -moz-linear-gradient(0deg, transparent 90%, rgba(255, 160, 0, .5) 90%, rgba(255, 160, 0, .5));
    background-image: -o-linear-gradient(transparent 90%, rgba(255, 160, 0, .5) 90%, rgba(255, 160, 0, .5)),
    -o-linear-gradient(0deg, transparent 90%, rgba(255, 160, 0, .5) 90%, rgba(255, 160, 0, .5));
    background-image: linear-gradient(transparent 90%, rgba(255, 160, 0, .5) 90%, rgba(255, 160, 0, .5)),
    linear-gradient(0deg, transparent 90%, rgba(255, 160, 0, .5) 90%, rgba(255, 160, 0, .5));
}
